<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="caption mb-4 text-md-start text-center">
                <div class="subtitle">
                    <span>SUNDER TAROT</span>
                </div>
                <h2 class="title">靈感指引所</h2>
                <div class="word">
                    <span>解讀當下，為下一步找尋方向。</span>
                    <span>When your path is unclear guidance becomes clear.</span>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="contact-info text-md-start text-center">
                <div class="social-icon">
                    <a href="#"> <img src="./images/FB.svg" alt="facebook"></a>
                    <a href="#"><img src="./images/IG.svg" alt="instagram">
                    </a>
                </div>
                <div class="store-info">
                    <span class="tel">電話 Tel：(+886)7-5555555　</span>
                    <span class="add">地址 Address：高雄前金區幸福路88號5樓</span>
                    <span class="hours">營業資訊 Opening Hours：週一至週五 13:00～21:00 週六、週日 11:00～18:00</span>
                </div>
                <div class="copyright">
                    <span>Copyright © 2025 <strong>Sunder Tarot.</strong> All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</div>