{% macro active(activePage='home') %}

<nav class="navbar navbar-expand-lg">

    <div class="container">
        <a class="navbar-brand inx-logo m-0" href="index.html">
            <img src="./images/Sunder-Tarot-logo.png">
            <img src="./images/Sunder-Tarot-logo.png" class="navbar-brand-w">
            <div class="px-3 inx-title">
                <span>Sunder Tarot 靈感指引所</span>
                <span>The Spectrum of Pragmatism</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-login" href="#process">
                        <div class="px-1">
                            <span>指引所流程</span>
                            <span>Our Process</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-cart" href="#questions">
                        <div class="px-1">
                            <span>引導問答</span>
                            <span>Your Questions</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-search" href="#booking">
                        <div class="px-1">
                            <span>預約服務</span>
                            <span>Book A Session</span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>

</nav>
{% endmacro %}