// 背景底圖
.wrapper {
    background-image: url("../images/bg-main.png") !important;
    background-size: cover;
    background-blend-mode: overlay;
    z-index: -10;
}

section+section {
    margin-top: 72px;
}

// 通用元件
.inx-head {
    margin-bottom: 3rem;
    color: $primary;

    .subtitle {
        font-size: 0.875rem;
        font-weight: 400;
        color: lighten($primary, 24);
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;

        &-icon {
            color: $success;
        }

        &-tw {
            font-size: 2.25rem;
        }

        &-en {
            font-size: 0.875rem;
            color: rgba($success, 0.8);
        }

        .desc {
            margin-top: 32px;

            span {
                text-align: center;
                display: block;
            }
        }
    }
}

// 首頁主視覺
.inx-banner {

    margin-bottom: 6rem;
    position: relative;
    z-index: 1;

    .title-stone {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -20%;
            top: 20%;
            background-image: url("../images/stone-r-b.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 300px;
            height: 600px;
            display: block;
            z-index: -1;
            animation: floatSmall 6s ease-in-out infinite;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("../images/stone-r-s.png");
            left: -10%;
            top: 90%;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: 600px;
            display: block;
            z-index: -1;
            animation: floatBig 8s ease-in-out infinite;
        }
    }


    .caption {
        color: $primary;
        padding-top: 100px;

        .subtitle {
            font-size: 3rem;
            background: linear-gradient(to bottom, $primary 0%, #8B7355 50%, $success 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            display: inline-block;
            opacity: .8;
            letter-spacing: 0.2em;
            font-family: 'Ibarra Real Nova', "Noto Serif TC";
            font-weight: 700;

            span {
                display: block;
                line-height: 3rem;
            }
        }

        .title {
            font-size: 4.8rem;
            letter-spacing: 1rem;
            line-height: 1.2;
            margin-bottom: 1rem;
            font-weight: 700;
        }

        .word {
            font-size: 1rem;

            span {
                display: block;
                line-height: 1.8rem;
            }
        }

        .tiny-glow-icon {
            padding: 20px 0;
            width: 120px;
            display: flex;
            justify-content: space-between;

            img {
                animation: glow 6s infinite;
            }

            img:nth-child(2) {
                animation-delay: 3s;
            }

            img:nth-child(3) {
                animation-delay: 5s;
            }
        }
    }

    .cover {
        margin-top: -8rem;

        .img-aspect {
            aspect-ratio: 16 / 9;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }


    .mainVisual {
        position: relative;
    }

    .stone-elements {
        position: relative;
        height: 460px;

        &::before {
            content: "";
            position: absolute;
            left: 0%;
            top: 30%;
            background-image: url("../images/stone-s.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            display: block;
            z-index: -1;
            animation: floatSmall 6s ease-in-out infinite;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("../images/stone-b.png");
            right: 0;
            top: 0;
            background-size: contain;
            background-repeat: no-repeat;
            width: 220px;
            height: 300px;
            display: block;
            z-index: -1;
            animation: floatBig 8s ease-in-out infinite;
        }

    }

    .stone-node {
        width: 200px;
        height: 200px;
        top: 0;
        background-image: url("../images/node.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left top;
        position: absolute;
        z-index: 2;
    }

    .mainVisual-window-foot {
        position: absolute;
        top: 6%;
        width: 86%;
        height: 500px;
        background-image: url("../images/mainVisual-window-foot-v7.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &::before {
            content: "";
            width: 140px;
            height: 460px;
            position: absolute;
            // top: -8%;
            right: 0%;
            display: block;
            background-image: url("../images/node.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left top;
            position: absolute;
            z-index: 2;
            animation: scaleEffect 4s ease-in-out infinite;
        }

    }

}

// 送出按鈕樣式
.btn-success {
    font-weight: 700;
    color: $gray-800;

    &:hover {
        color: $black !important;
    }
}


.inx-divination {
    padding: 24px 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70%;
        background-image: url("../images/divination-bg.jpg");
        background-size: cover;
        background-position: 25% 10%;
        background-repeat: no-repeat;
        opacity: 0.3;
    }

    // 確保內容在上
    .inx-head,
    .container {
        position: relative;
        z-index: 1;
    }

    // 流程卡片
    .card-process-list {
        display: flex;
        justify-content: space-around;
        margin-top: 32px;

        /* 卡片容器 */
        .card-flip {
            perspective: 1000px;
            width: 300px;
            height: 490px;

            /* 卡片內部容器 */
            .card-inner {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: transform 0.8s;
            }

            /* 翻轉效果 */
            &:hover .card-inner,
            &:focus-within .card-inner {
                transform: rotateY(180deg);
            }

            /* 卡片正反面共同樣式 */
            .card.front,
            .card.back {
                position: absolute;
                width: 100%;
                height: 100%;
                border: 12px solid $primary;
                border-radius: 16px;
                backface-visibility: hidden;
                box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
            }

            // 卡片正面
            .card.front {
                background-image: url("../images/inquiry-image.jpg");
                background-size: cover;

                .card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end
                }

                .card-subtitle {
                    color: $primary;
                    font-size: 1.5rem;
                    margin-bottom: 8px;
                    font-weight: 700;
                }

                .card-text {
                    color: $primary;
                    font-size: 1rem;
                    opacity: .4;
                    letter-spacing: 0.1rem;
                    font-weight: 700;
                }

            }

            /* 背面卡片 */
            .card.back {
                background-image: url("../images/inquiry-imag-back.jpg");
                background-size: cover;
                transform: rotateY(180deg);
                color: $gray-900;

                .card-title {
                    margin: 20px auto 36px;
                    text-align: center;
                    opacity: .75;
                    font-weight: 700;
                }

                .card-list {
                    padding: 0 16px;

                    .card-subtitle {
                        font-size: 1rem;
                        margin: 16px 0;
                        opacity: .75;
                        font-weight: 700;
                    }

                    .list-unstyled {
                        font-size: 0.8rem;
                        opacity: .75;


                        li {
                            display: flex;
                            flex-direction: row;

                            &::before {
                                content: "";
                                height: 1px;
                                width: 1px;
                                padding: 2px;
                                margin: 10px;
                                display: inline-block;
                                background-color: $gray-900;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .card-text {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 24px;
                    text-align: center;
                    font-size: 1.2rem;
                    opacity: 0.1;
                }

            }

            /* 確保卡片內容不會超出範圍 */
            .card img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    /* 流程注意事項 */
    .notice {
        display: flex;
        justify-content: center;
        margin-top: 48px;
        color: $primary;

        .card-list {
            padding: 0 56px;

            .card-subtitle {
                font-size: 1.2rem;
                margin: 16px 0;
                font-weight: 700;
            }

            .list-unstyled {
                font-size: 1rem;
                line-height: 2;
                // opacity: .75;

                li {
                    display: flex;
                    align-items: center;

                    &::before {
                        content: "";
                        height: 1px;
                        width: 1px;
                        padding: 2px;
                        margin: 8px;
                        display: inline-block;
                        background-color: $primary;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.QA-list {

    ul,
    li {
        list-style: none;
    }


    li {
        text-align: center;
        color: $primary;
        padding: 24px;
        border-bottom: 1px $primary dashed;
    }
}

// /* 移除原本的 icon */
// 隱藏日期輸入框的日曆圖示
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

// 隱藏時間輸入框的時鐘圖示
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

// 如果需要，也可以隱藏其他瀏覽器的日曆圖示
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// 預約指引所
.inx-booking {
    .booking-title {
        font-size: 1.25rem;
        display: flex;
        padding-bottom: 16px;
        font-weight: 700;

        &::before {
            content: "";
            background-image: url("../images/tiny-glow.svg");
            background-repeat: no-repeat;
            background-position: center;
            width: 30px;
            height: 30px;
            display: inline-block;
        }
    }

    .booking-container {
        color: $primary;
        display: flex;
        justify-content: space-between;

        .booking-instruction {

            &::after {
                content: "";
                background-image: url("../images/stone-two.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: 100px;
                height: 100px;
                display: block;
                // animation: floatSmall 6s ease-in-out infinite;
            }
        }

        .booking-description {
            font-weight: 700;
            opacity: 0.8;
        }

        .booking-slogan {
            opacity: 0.6;
            font-size: 0.8rem;
        }
    }

    input,
    input[type="date"],
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="time"],
    textarea {
        font-weight: 700;
        background-color: #ffffff00;
    }

    .notes-input {
        display: flow;
    }

    .form-control {
        background-color: #ffffff00;
        color: $primary !important;
        border-left: 0;
    }

    .form-control::placeholder {
        color: $primary !important;
        opacity: 1; // Firefox 需要這個
    }

    .input-group-text {
        background-color: #ffffff00;
        border-right: 0;

        img {
            width: 20px;
            height: 20px;
        }
    }

}



// RWD 平版
@include media-breakpoint-down(lg) {

    .title-stone::after {
        content: none !important;
    }

    .tiny-glow-icon {
        margin: auto;
    }


    // 流程卡片
    .card-process-list {
        flex-wrap: wrap;
        row-gap: 2rem; // 列間距
        column-gap: 20px; // 欄間距
    }

}

// 動態效果：背景石頭        
@keyframes floatSmall {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(1deg);
    }

    50% {
        transform: translate(-5px, 8px) rotate(-1deg);
    }

    75% {
        transform: translate(-8px, -3px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes floatBig {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(8px, 8px) rotate(-1deg);
    }

    50% {
        transform: translate(-8px, 12px) rotate(1deg);
    }

    75% {
        transform: translate(-12px, -5px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

// 動態效果：背景左側三點線條光
@keyframes scaleEffect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05); // 放大到 1.05 倍
    }

    100% {
        transform: scale(1);
    }
}

// 動態效果：標題底下三光輪流閃爍
@keyframes glow {

    0%,
    100% {
        opacity: 0.2;
    }

    33% {
        opacity: 0.6;
    }

    66% {
        opacity: 1;
    }
}