// 背景底圖
.wrapper {
    background-image: url("../images/bg-main.png") !important;
    background-size: cover;
    background-blend-mode: overlay;
    z-index: -10;
}

section+section {
    margin-top: 72px;
}

// 通用元件
.inx-head {
    margin-bottom: 3rem;
    color: $primary;

    .subtitle {
        font-size: 0.875rem;
        font-weight: 400;
        color: lighten($primary, 24);
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-icon {
            color: $success;
        }

        &-tw {
            font-size: 2.25rem;
        }

        &-en {
            font-size: 0.875rem;
            color: rgba($success, 0.8);
        }

        .desc {
            margin-top: 32px;

            span {
                text-align: center;
                display: block;
            }
        }
    }
}

// 首頁主視覺
.inx-banner {

    margin-bottom: 6rem;

    .caption {
        color: $primary;
        padding-top: 100px;

        .subtitle {
            font-size: 3rem;
            background: linear-gradient(to bottom, $primary 0%, #8B7355 50%, $success 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            display: inline-block;
            opacity: .8;
            letter-spacing: 0.2em;
            font-family: 'Ibarra Real Nova', serif;
            font-weight: 700;

            span {
                display: block;
                line-height: 3rem;
            }
        }

        .title {
            font-size: 5rem;
            letter-spacing: 0.3em;
            // line-height: 1.2;
        }

        .word {
            font-size: 1rem;

            span {
                display: block;
                line-height: 1.8rem;
            }
        }

        .tiny-glow-icon {
            padding: 20px 0;
            width: 120px;
            display: flex;
            justify-content: space-between;

            img:nth-child(2) {
                opacity: 0.6;
            }

            img:nth-child(3) {
                opacity: 0.2;
            }
        }
    }

    .cover {
        margin-top: -8rem;

        .img-aspect {
            aspect-ratio: 16 / 9;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .mainVisual {
        position: relative
    }

    .mainVisual-window {
        position: absolute; // 絕對定位
        right: 0;
        width: 500px;
        height: 460px;
        background-image: url("../images/mainVisual-window-v2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        // width: 100%;
        // height: 550px;
        z-index: 0
    }

    .mainVisual-foot {
        position: absolute; // 絕對定位，與 window 同位置
        top: 60px;
        left: -50px;
        width: 100%;
        height: 100%;
        background-image: url("../images/mainVisual-foot-L.png");
        background-color: rgba(0, 255, 255, 0.316);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        z-index: 1; // 確保在較高層
        width: 430px; // 圓頂框寬度
        height: 520px; // 圓頂框高度
        margin: auto; // 水平置中
        border-radius: 50% 50% 0 0; // 圓頂效果
        overflow: hidden; // 防止內容溢出
    }


}

.inx-divination {
    padding: 24px 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70%;
        background-image: url("../images/divination-bg.jpg");
        background-size: cover;
        background-position: 25% 10%;
        background-repeat: no-repeat;
        opacity: 0.3;
    }

    // 確保內容在上
    .inx-head,
    .container {
        position: relative;
        z-index: 1;
    }

    // 流程卡片
    .card-process-list {
        display: flex;
        justify-content: space-around;
        margin-top: 32px;

        /* 卡片容器 */
        .card-flip {
            perspective: 1000px;
            width: 300px;
            height: 490px;

            /* 卡片內部容器 */
            .card-inner {
                // position: relative;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: transform 0.8s;
            }

            /* 翻轉效果 */
            &:hover .card-inner,
            &:focus-within .card-inner {
                transform: rotateY(180deg);
            }

            /* 卡片正反面共同樣式 */
            .card.front,
            .card.back {
                position: absolute;
                width: 100%;
                height: 100%;
                border: 12px solid $primary;
                border-radius: 16px;
                backface-visibility: hidden;
                box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
            }

            // 卡片正面
            .card.front {
                background-image: url("../images/inquiry-image.jpg");
                background-size: cover;

                .card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end
                }

                .card-subtitle {
                    color: $primary;
                    font-size: 1.5rem;
                    margin-bottom: 8px;
                }

                .card-text {
                    color: $primary;
                    font-size: 1rem;
                    opacity: .4;
                    letter-spacing: 0.1rem;
                }

            }

            /* 背面卡片 */
            .card.back {
                background-image: url("../images/inquiry-imag-back.jpg");
                background-size: cover;
                transform: rotateY(180deg);
                color: $gray-900;

                .card-title {
                    margin: 20px auto 36px;
                    text-align: center;
                    opacity: .75;
                }

                .card-list {
                    padding: 0 16px;

                    .card-subtitle {
                        font-size: 1rem;
                        margin: 16px 0;
                        opacity: .75;
                    }

                    .list-unstyled {
                        font-size: 0.8rem;
                        opacity: .75;


                        li {
                            display: flex;
                            flex-direction: row;

                            &::before {
                                content: "";
                                height: 1px;
                                width: 1px;
                                padding: 2px;
                                margin: 10px;
                                display: inline-block;
                                background-color: $gray-900;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .card-text {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 24px;
                    text-align: center;
                    font-size: 1.2rem;
                    opacity: 0.1;
                }

            }

            /* 確保卡片內容不會超出範圍 */
            .card img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    /* 流程注意事項 */
    .notice {
        display: flex;
        justify-content: center;
        margin-top: 48px;
        color: $primary;

        .card-list {
            padding: 0 56px;

            .card-subtitle {
                font-size: 1.2rem;
                margin: 16px 0;
                // opacity: .75;
            }

            .list-unstyled {
                font-size: 1rem;
                line-height: 2;
                // opacity: .75;

                li {
                    display: flex;
                    align-items: center;

                    &::before {
                        content: "";
                        height: 1px;
                        width: 1px;
                        padding: 2px;
                        margin: 8px;
                        display: inline-block;
                        background-color: $primary;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.QA-list {

    ul,
    li {
        list-style: none;
    }


    li {
        text-align: center;
        color: $primary;
        padding: 24px;
        border-bottom: 1px $primary dashed;
    }
}

// /* 移除原本的 icon */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.inx-booking {
    .booking-title {
        font-size: 1.25rem;
        display: flex;
        padding-bottom: 16px;

        &::before {
            content: "";
            background-image: url("../images/tiny-glow.svg");
            background-repeat: no-repeat;
            background-position: center;
            width: 30px;
            height: 30px;
            display: inline-block;
        }
    }

    .booking-container {
        color: $primary;
        display: flex;
        justify-content: space-between;

        .booking-description {
            opacity: 0.6;
        }

        .booking-slogan {
            opacity: 0.6;
            font-size: 0.8rem;
        }
    }

    // input[type="date"].form-control,
    // input[type="time"].form-control {
    //     min-width: 0;
    //     width: 100%;
    //     box-sizing: border-box;
    // }

    // /* 時段 */
    // input[type="time"] {
    //     background-image: url('../images/icon-time.svg');
    //     background-position: right 10px center;
    //     background-repeat: no-repeat;
    //     padding-right: 30px;

    //     // &:focus {
    //     //     filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
    //     // }
    // }

    // /* 電話 */
    // input[type="tel"] {
    //     background-image: url('../images/phone-icon.png');
    //     background-position: right 10px center;
    //     background-repeat: no-repeat;
    //     padding-right: 30px;
    // }

    // /* 姓名和信箱 */
    // input[type="text"] {
    //     background-image: url('../images/user-icon.png');
    //     background-position: right 10px center;
    //     background-repeat: no-repeat;
    //     padding-right: 30px;
    // }

    /* 問題textarea */
    // textarea {
    //     background-image: url('../images/question-icon.png');
    //     background-position: right 10px top 10px;
    //     background-repeat: no-repeat;
    //     padding-right: 30px;
    // }
}



// RWD 平版
@include media-breakpoint-down(lg) {

    // 流程卡片
    .card-process-list {
        flex-wrap: wrap;
        row-gap: 2rem; // 列間距
        column-gap: 20px; // 欄間距
    }
}